.nav-app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color: #0c6a4f;
  width: 100%;
  padding: 0px;
  gap: 30px;
}

.nav-app a {
  color: rgb(148, 144, 144);;
  text-decoration: none;
  
}

.nav-app a:hover {
  color: rgb(126, 247, 5); /* cor ao passar o mouse */
}
