body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #dbdada;
}
.header-app {
  background-color: #003b2c;
  color: #fff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 10px;
  
}

.header-app h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0px;
}

.header-app p {
  font-size: 1.2rem;
  margin: 5px 0;
  width: 100%;
  text-align: center;
  padding: 5px;

  
}






.investir-section {
  padding: 40px 20px;

  text-align: center;
  width: 80%;
}

h2 {
  font-size: 24px;
  color: #034419;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
}

.investir-section h2 {
  font-size: 24px;
  color: #034419;
  margin-bottom: 30px;
  font-weight: 600;
}

.produtos-section h2 {
  font-size: 24px;
  color: #034419;
  margin-bottom: 30px;
  font-weight: 600;
}

/* Container flex */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
  
  
}

/* Cada card com largura fixa */
.card {
  width: 30%; /* 3 por linha */
  min-width: 250px;
  background-color: #e7f8ef;
  border-left: 5px solid #034419;
  border-radius: 12px;
  padding: 20px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  
}

.produtos-section {
  padding: 40px 20px;

  text-align: center;
  width: 80%;
}

.produtos-section h2 {
  font-size: 24px;
  color: #034419;
  margin-bottom: 30px;
  font-weight: 600;
}
